[General]
Controller_StopRequestInterval=50
Controller_EmssController_Interval=10
Robot_SharpIRSensorCutoffValue=800
Controller_EmssController_Speed=400
Task_MoveTask_WaitForEventIntervalDelay=10
Map_HeatMap_CollisionAreaColor=red
Map_HeatMap_HeatOpacity=0.2
Map_HeatMap_HeatSize=400
Map_HeatMap_OpenAreaColor=green
Robot_BumperCollisionOffset_mm=130
Navigation_SplineNavigation_FixedInterval=100
Navigation_SplineNavigation_WheelSplineKernel=SplineKernelNRNatural
Navigation_SplineNavigation_NavPointsSplineKernel=SplineKernelNRNatural
Navigation_SplineNavigation_TargetSpeed_mmps=100.0
Navigation_SplineNavigation_DynamicIntervalEnabled=true
Navigation_SplineNavigation_DynamicIntervalFlexibility_ms=10
Navigation_SplineNavigation_SplineNodeAdjust=true
Navigation_SplineNavigation_MagnetTrackingEnabled=true
Navigation_SystemOfWeightsNavigation_StopAtLastNavPoint=false
Map_HeatMap_WallCollisionOpacity=0.1
Map_HeatMap_IRCollisionOpacity=0.1
Map_HeatMap_CliffCollisionOpacity=0.1
Map_HeatMap_BumperCollisionOpacity=0.1
Map_HeatMap_OpenAreaOpacity=0.05
Weight_WallFollowerWeight_DistanceToWaitAfterLostTheWall=50
Map_HeatMap_WallCollisionSize_mm=200
Map_HeatMap_IRCollisionSize_mm=200
Map_HeatMap_CliffCollisionSize_mm=400
Map_HeatMap_BumperCollisionSize_mm=400
Map_HeatMap_OpenAreaSize_mm=400
Task_DiscoveryTask_DetourAngle=20
Task_DiscoveryTask_ExplorationMapGridSize=100
Task_DiscoveryTask_Interval=100
Task_DiscoveryTask_Range_mm=400
Task_DiscoveryTask_RelativeExplorationHeight_mm=4000
Task_DiscoveryTask_RelativeExplorationWidth_mm=4000
Task_DiscoveryTask_SweepAngle=60
Task_DiscoveryTask_TerrainCutLevel=15
Task_DiscoveryTask_TerrainMapMaxHeight=100
Task_DiscoveryTask_TerrainMapUnknownHeight=101
Task_DiscoveryTask_TerrainCutPointDistance_mm=500
Task_StraightPathMoveTask_Interval=100
TaskManager_Interval=100
Task_TestMoveTask_Interval=100
Navigation_SplineNavigation_ResetNavPointsWhenDone=true
Task_NavigationTask_ResetNavPointsWhenDone=true
Task_NavigationTask_Interval=100
Task_SplineNavigationTask_Interval=100
Task_SplineNavigationTask_AlignRobotWithSpline=false
Task_SplineNavigationTask_AlignRobotWithSplineSpeed_mmps=30
Navigation_AutomaticallyAddStartingNavPoints=false
Robot_WheelOffset_mm=120.0
Map_PhysicalMap_Filename=1FloorBuilding6d.png
Map_PhysicalMap_Scale=1
Robot_Diameter_mm=330
Robot_FrontCliffSensorPositionAngle=13
Robot_SideCliffSensorPositionAngle=62
Robot_WallSensorRange_mm=210
Robot_StartingPositionX_mm=16450
Robot_StartingPositionY_mm=30410
Map_Scale=10
Map_GridMap_GridSize_mm=1000
Map_Height_mm=45000
Map_Width_mm=45000
Map_TerrainMap_RaiseLowerIncrement=0.1
Map_TerrainMap_RaiseLowerSize_mm=400
Controller_EmssController_EmergencyStopEnabled=true
Controller_EmssController_SharpIRSensorEmergencyStopBuffer_mm=100
Task_DiscoveryTask_CriticalAreaDistance_mm=200
Task_FingerprintNavigationTask_Interval=100
Camera_CaptureToolPath=gst-launch-0.10
Camera_CaptureToolCommand="v4l2src ! ffmpegcolorspace ! pngenc ! filesink location\\=Camera_CaptureToolOutFile"
Camera_CaptureToolOutFile=camera.png
Camera_AutoRefreshInterval=1000
Navigation_MaxOpenAreaDistanceMaxRange_mm=2000
RemoteInterface_Enabled=true
RemoteInterface_IP=127.0.0.1
RemoteInterface_Port=9000
RemoteInterface_ListenerInterval=100
RemoteInterface_SenderInterval=100
TextToSpeech_SpeakToolPath=espeak
TextToSpeech_SpeakToolCommand=-v english_rp -a 60 -p 50 -s 150 SPEECH_TEXT
Task_JoystickNavigationTask_Interval=100
Watchdog_Enabled=false
Watchdog_Interval=100
Watchdog_ActionInterval=2000
Watchdog_StopRequestInterval=50
Watchdog_AddDefaultBeepAction=true
Watchdog_AddDefaultNetworkMonitorAction=false
Watchdog_BeepWatchdogAction_BeepFile=beep.wav
Controller_Watchdog_Enabled=false
Controller_Watchdog_Flexibility=2.5
TaskManager_Watchdog_Enabled=false
TaskManager_Watchdog_Flexibility=2.5
Watchdog_NetworkMonitorWatchdogAction_WANIPs=152.96.
Task_DefaultInterval=100
Map_StructureMap_MinimumDistanceBetweenCollision=1000.0
Map_StructureMap_FinishTolerance_mm=500.0
Tracker_DefaultMovementTrackers=Raw Expected
Tracker_SelectedMovementTrackers=Expected
Map_Description=ThisIsAMapDescription
Map_Floor=1
Map_GPSOffset=47.223611 15.146667