[General]
Connection_Controller=0
Connection_Port=5
Connection_Tracker=1
Window_X=56
Window_Y=123
Window_Width=324
Window_Height=621
Connection_EmulateHardware=true
Viewport_AutoUpdateInterval=100
Viewport_RenderMode=native
Connection_Navigation=1
Controller_TargetSpeed=485
Log_LogToFile=true
Connection_SafeMode=false
